<ion-header>
    <ion-navbar color="primary">
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="para-style">
    <form [formGroup]="passwordUpdateForm" novalidate>
        <p *ngIf="failedTxn" style="text-align: center;">{{responseErrMessage}}</p>

        <ion-item>
            <!--<ion-label color="primary" floating>Old Password</ion-label>-->
            <ion-input formControlName="oldPassword" #oldPassword type="password" (blur)="verifyOldPassword(oldPassword.value)" placeholder="Old Password *"></ion-input>
        </ion-item>

        <p *ngIf="!validOldPwd">Incorrect Old Password</p>

        <ion-item>
            <!--<ion-label color="primary" floating>New Password</ion-label>-->
            <ion-input formControlName="newPassword" #newPassword type="password" placeholder="New Password *"></ion-input>
        </ion-item>

        <ion-item>
            <!--<ion-label color="primary" floating>Confirm Password</ion-label>-->
            <ion-input formControlName="confirmPassword" #confirmPassword type="password" placeholder="Confirm Password *"></ion-input>
        </ion-item>

        <div *ngIf="passwordUpdateForm.controls['newPassword'].dirty && !passwordUpdateForm.controls['confirmPassword'].valid">
            <p *ngIf="passwordUpdateForm.controls['newPassword'].value != passwordUpdateForm.controls['confirmPassword'].value && passwordUpdateForm.controls.confirmPassword.value!=''" style="text-align: center;">Passwords didn't match</p>
        </div>
<br>
        <div style="text-align: center;">
            <button [disabled]="isValid(oldPassword.value, newPassword.value, confirmPassword.value)" (click)="updatePassword(passwordUpdateForm)" ion-button>Update Password</button>
        </div>
    </form>
</ion-content>